.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.card {
  padding: 2.5em;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  background: #20203a;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.18);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  padding: 0.5rem;
  border: 1px solid #bbb;
  border-radius: 4px;
  background: #23234a;
  color: var(--login-input-color);
}

button {
  padding: 0.5rem 1rem;
  background: var(--login-button-bg);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: var(--login-button-bg);
}

.create-user-btn {
  margin-top: 2rem;
  width: 100%;
  max-width: 450px;
}
h1 {
  color: var(--login-heading-color);
}
