@use 'sass:color';
@use './theme.scss';

// $primary: var(--navbar-bg);


.navbar {
  position: fixed;
  width: 100vw;
  height: 3rem;
  font-size: 1rem;
  background: var(--navbar-bg);
  border: none;
  border-radius: 0;
  cursor: default;
  top: 0;
  left: 0;
  z-index: 220;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-buttons {
  background: var(--navbar-btn-bg);
  color: var(--navbar-btn-color);
  display: flex;
  flex-direction: row;
  height: 100%;
  background: none;
  box-shadow: none;
  transition: none;
  transform: none;
  align-items: center;
}

.nav-buttons-inner {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.hide-menu-btn {
  position: fixed;
  top: 0.5rem;
  right: 1rem;
  z-index: 9999;
  padding: 0.25rem 0.5rem;
  background: color-mix(in srgb, var(--navbar-bg), white 10%);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  transition: background 0.2s;
}

.hide-menu-btn svg {
  display: block;
}


button {
  background: var(--navbar-bg);
}
